<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="main.css">
  <title>Air Quality</title>
</head>
<body>
  <main class="main">

  </main>
  <div class="interact">
    <div class="search">
      <input type="text" name="city" id="city" placeholder="Start searching your city..."/>
      <div class="search-results">
        <button>Example city</button>
      </div>
    </div>
    <div class="display-area">
      <h3 class="city-name">Random City</h3>
      <div class="cigg">
        <div class="ciggImages">
          <img src="./img/" alt="">
        </div>
        <div class="ciggNumber"></div>
      </div>
      <div class="pm-25">
        <div class="pm-number">2.5</div>
        <div class="pm">pm</div>
      </div>
    </div>

  </div>
  <script src="./main-min.js"></script>
</body>
</html>